.linkhover{
    background-image: linear-gradient(#196774, #FCD47D);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-position-x:right;
    transition: background-size 500ms;
    
}
.linkhover:hover{
      background-size: 100% 100%;
       background-position-x:left;
 }